@media screen and (max-width: 600px) {
    /* Shared */
    .mob-heading {
        font-size: var(--title-font-mob);
    }

    .mob-regular {
        font-size: var(--regular-font-mob);
    }

    /* nav */
    .navbar {
        justify-content: space-between;
        margin: auto 1rem;
    }

    .nav-title {
        width: 90%;
    }

    .nav-title img {
        width: 1.75rem;
        height: auto;
    }

    .nav-title p {
        font-size: 1.3rem;
    }

    .ham {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: right;
        font-size: 1.3rem;
        /* padding-right: 1rem; */
    }

    .nav-menu {
        display: none;
    }

    /* Banner */
    .banner-container {
        padding: 32px;
    }

    .banner-title {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .banner-text {
        margin-bottom: 2rem;
        font-size: var(--regular-font-mob);
    }

    .form-container {
        width: 287px;
        height: auto;
        margin: 0 auto;
    }

    .form-container form {
        grid-template-columns: 1fr;
    }

    form input,
    select,
    button {
        width: 255px;
    }

    /* Popular Tours */
    #tour {
        margin: 24px auto;
        height: auto;
    }

    .tour-container {
        flex-direction: column;
        margin: auto 1rem;
        gap: 24px;
    }

    .tour-text {
        width: 100%;
        padding-right: 0;
    }

    .tour-image {
        width: 100%;
    }

    /* Destinaion */
    #destination {
        margin: 24px auto;
    }

    .dest-text {
        width: 70%;
        margin: 0 auto;
        /* margin: auto 1rem; */
    }

    .dest-images {
        width: 100%;
        /* height: auto; */
        gap: 10px;
    }

    .row-1,
    .row-2,
    .row-3 {
        grid-template-columns: 1fr;
        height: auto;
        margin: auto 1rem;
        gap: 10px;
    }

    .row-1 img {
        width: 100%;
        height: 176px;
        border-radius: 20px;
    }

    .row-2 img {
        width: 100%;
        height: 176px;
        border-radius: 20px;
    }

    .row-3 img {
        width: 100%;
        height: 176px;
        border-radius: 20px;
    }

    .img-text::after {
        font-size: var(--title-font-mob);
        font-weight: 700;
    }

    /* WHy Choose Us */
    #why-us {
        margin: 24px auto;
    }

    .why-us-container {
        width: 70%;
        margin: 0 auto;
    }

    .why-us-row {
        flex-direction: column;
        gap: 16px;
        margin: auto 1rem;
    }

    .why-us-row-single {
        margin: 1rem;
    }

    .card {
        /* min-width: 335px; */
        width: 100%;
        height: 289px;
        margin: 0 auto;
    }
}