@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* Variables */
:root {
    --max-width: 1170px;
    --max-width-mob: 335px;
    --p-color: #ff5400;
    --title-color: #131318;
    --text-color: rgba(19, 19, 24, 0.7); 
    --banner-text-color: white;
    --btn-text-color: white;
    --menu-color: #424247;
    --regular-font-mob: 0.875rem;
    --title-font-mob: 1.25rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

/* Shared */
.colorful-texts {
    color: var(--p-color);
}

.text-heading {
    color: var(--title-color);
    font-weight: 800;
    font-size: 2.5rem;
}

.text-regular {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1rem;
}

.btn-primary {
    background-color: var(--p-color);
    color: var(--btn-text-color);
}

/* Navigation Bar */
.navbar {
    max-width: var(--max-width);
    height: 80px;
    margin: 0 auto;
    display: flex;
}

.nav-title {
    width: 50%;
    display: flex;
    align-items: center;
    /* padding-left: 1rem; */
}

.nav-title img {
    width: 3rem;
    height: auto;
}

.nav-title p {
    margin-left: 1rem;
    font-size: 2.25rem;
}

.ham {
    display: none;
}

.nav-menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 1rem; */
}

.nav-menu a {
    color: var(--menu-color);
    font-weight: 400;
    font-size: 1.13rem;
}

/* Banner */
#banner {
    max-width: var(--max-width);
    margin: 0 auto;
}

.banner-container {
    /* width: auto; */
    /* height: 500px; */
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group13.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10%;
    /* padding: 106px 185px; */
    margin: 10px;
}

.banner-title {
    font-size: 4rem;
    color: var(--banner-text-color);
    margin-bottom: 1.5rem;
}

.banner-text {
    color: var(--banner-text-color);
    margin-bottom: 1.5rem;
    padding: 0 20px;
}

.form-container {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 100%;
    /* margin: 0 auto; */
    height: 80px;
}

.form-container form {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 24px;
    margin: 15px;
}

form input, select, button {
    /* flex-grow: 1; */
    height: 50px;
    /* width: 174px; */
    border: none;
    border-radius: 8px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
}

/* Popular Tours */
#tour {
    max-width: var(--max-width);
    height: 550px;
    margin: 100px auto;
}

.tour-container {
    display: flex;
}

.tour-text {
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tour-text p, ul {
    padding-bottom: 24px;
}

.tour-text ul li {
    padding-bottom: 16px;
}

.tour-image {
    width: 50%;
}

.tour-image img {
    width: 100%;
}

/* Destinaton */
#destination {
    max-width: var(--max-width);
    margin: 0 auto;
}

.dest-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.dest-text p {
    margin-bottom: 24px;
}

.dest-images {
    display: grid;
    gap: 24px;
}

.row-1, .row-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
 
.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.row-1, .row-3 img {
    /* width: 100%; */
    height: 300px;
    object-fit: cover;
}

.row-2 img {
    /* width: 100%; */
    height: 286px;
    object-fit: cover;
}

.img-text {
    position: relative;
}

.img-1::after {
    content: "Maldives";
}

.img-2::after {
    content: "Indonesia";
}

.img-3::after {
    content: "Srilanka";
}

.img-4::after {
    content: "North America";
}

.img-5::after {
    content: "Kashmir";
}

.img-6::after {
    content: "Bangladesh";
}

.img-7::after {
    content: "Bandarban";
}

.img-text::after {
    position: absolute;
    /* Top-Left corner (not center) */
    top: 50%;
    left: 50%;
    /* transform aligns the text to the center while */
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 1.75rem;
    font-weight: 800;
}
